<a href="https://colab.research.google.com/github/arifbaust10/Research-through-Data-Science/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables**

## Question 2.1: Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
name = "Md. Ariful Islam"
age = 25
favorite_color = "Black"

print("Name:", name)
print("Age:", age)
print("Favorite Color:", favorite_color)

Name: Md. Ariful Islam
Age: 25
Favorite Color: Black

# Data Types

## Question 2.2: Create one variable of each type and use the type() function to verify its type.

In [ ]:
id = 37
name = "Md. Ariful Islam"
age = 25
is_student = True
address = "Naogaon"

print(type(id))
print(type(name))
print(type(age))
print(type(is_student))
print(type(address))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'str'>

# Basic Operations

## Question 2.3: Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print("Area:", area)
print("Perimeter:", perimeter)

Area: 35
Perimeter: 24

# Data Collections: Lists

## Question 2.4: Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [ ]:
foods = ["apple","banana","orange","mango","pineapple"]
first_element = foods[0]
last_element = foods[-1]

print("First Element:", first_element)
print("Last Element:", last_element)

First Element: apple
Last Element: pineapple

## Question 2.5: Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
list = [33,21,432,342,221]
list.append(23)
list.pop()
list.sort()

print(list)

[21, 33, 221, 342, 432]

In [ ]:
list = [33,21,432,342,221]
list.insert(2,23)
list.remove(21)
list.reverse()

print(list)

[221, 342, 432, 23, 33]

# Data Collections: Dictionaries

## Question 2.6: Create a dictionary about yourself with at least 4 key-value pairs.

In [ ]:
myself = {
    "name" : "Md. Ariful Islam",
    "University" : "BAUST",
    "Department" : "CSE",
    "Level of Study" : "4th Year",
    "Age" : 25
 }

print(
    f"I am {myself['name']}, University of {myself['University']}, "
    f"Department of {myself['Department']}, {myself['Level of Study']} student, "
    f"Age is {myself['Age']}"
)

I am Md. Ariful Islam, University of BAUST, Department of CSE, 4th Year student, Age is 25

# Data Collections: Tuples

## Question 2.7: Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
famouns_place = ("Cox's Bazar", 21.4272, 92.0000)
print(famouns_place)

("Cox's Bazar", 21.4272, 92.0)

# Data Collections: Sets

## Question 2.8: Create two sets of colors and find their union and intersection.

In [ ]:
color_1 = {"red", "green", "blue"}
color_2 = {"yellow", "green", "purple"}

union = color_1 | color_2
intersection = color_1 & color_2
print("Union:", union)
print("Intersection:", intersection)

Union: {'blue', 'red', 'purple', 'yellow', 'green'}
Intersection: {'green'}

# Control Structures: If-Else Statements

## Question 2.9: Write a program that checks if a number is positive, negative, or zero.

In [ ]:
number = 37
if number>0:
  print(number," is positive")
elif number<0:
  print(number," is negative")
else:
  print(number," is zero")

37  is positive

## Question 2.10: Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [ ]:
age = 25
designation = "student"
if designation == "student":
  if age<25:
    print("You are eligible for discount")
  else:
    print("You are not eligible for discount")
elif designation == "senior":
  if age>60:
    print("You are eligible for discount")
  else:
    print("You are not eligible for discount")

You are not eligible for discount

# Control Structures: Loops

## Question 2.11: Write a program that prints the first 10 even numbers using a for or while loop.

In [ ]:
i = 2
c = 0
while True:
  if i%2==0:
    c += 1
    print(i," ")
  if c==10:
    break
  i += 1

2
4
6
8
10
12
14
16
18
20

## Question 2.12: Write a program that prints a simple number pyramid pattern using nested loops.

In [ ]:
rows = 5

for i in range(1, rows + 1):
    for space in range(rows - i):
        print(" ", end="")
    for star in range(2*i - 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

# Functions: Basics

## Question 2.13: Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [ ]:
def fahrenheit(c):
  f = (c * 9/5) + 32
  print(f"{c}°C = {f}°F")

fahrenheit(100)

100°C = 212.0°F

## Question 2.14 Create a function with default parameters that calculates the area of a rectangle.

In [ ]:
def area_of_rectangle(l=0, w=0):
  print(l*w)

area_of_rectangle(15,21)

315