<a href="https://colab.research.google.com/github/arifbaust10/Research-through-Data-Science/blob/main/NumPy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1.1: Data Loading and Exploration

In [ ]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd

# Load the dataset
df = pd.read_csv('StudentsPerformance.csv')

# Your tasks:
# 1. Display first 10 rows
# 2. Show dataset shape and info()
# 3. Display unique values in each categorical column
# 4. Show basic statistics for all score columns

# Your code here:

## 1. Display first 10 rows

In [ ]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

## 2. Show dataset shape and info()

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

## 3. Display unique values in each categorical column

In [ ]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [ ]:
df["race/ethnicity"].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [ ]:
df["parental level of education"].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [ ]:
df["lunch"].unique()

array(['standard', 'free/reduced'], dtype=object)

## 4. Show basic statistics for all score columns

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

# Task 1.2: NumPy Array Operations

In [ ]:
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
# 2. Find total students who scored above 80 in math
# 3. Find total students who scored below 50 in any subject
# 4. Calculate the overall average score across all three subjects

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:

## 1. Calculate mean, median, std, min, max for each subject using NumPy

In [ ]:
math_scores.mean(), math_scores.std(), math_scores.min(), math_scores.max()

(np.float64(66.089),
 np.float64(15.155496659628149),
 np.int64(0),
 np.int64(100))

In [ ]:
reading_scores.mean(), reading_scores.std(), reading_scores.min(), reading_scores.max()

(np.float64(69.169),
 np.float64(14.592890015346516),
 np.int64(17),
 np.int64(100))

In [ ]:
writing_scores.mean(), writing_scores.std(), writing_scores.min(), writing_scores.max()

(np.float64(68.054),
 np.float64(15.188057281956768),
 np.int64(10),
 np.int64(100))

## 2. Find total students who scored above 80 in math

In [ ]:
math_scores = df['math score'].values
above_80_mask = math_scores > 80
total_above_80 = above_80_mask.sum()
print(total_above_80)

176

## 3. Find total students who scored below 50 in any subject

In [ ]:
dfa = pd.DataFrame({
    'math': math_scores,
    'reading': reading_scores,
    'writing': writing_scores
})

below_50_mask = (dfa['math'] < 50) | (dfa['reading'] < 50) | (dfa['writing'] < 50)

total_below_50 = below_50_mask.sum()
print(total_below_50)

188

## 4. Calculate the overall average score across all three subjects

In [ ]:
math_scores.mean() + reading_scores.mean() + writing_scores.mean() / 3

np.float64(157.94266666666664)

# Task 2.1: Identify and Handle Missing Data

In [ ]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
# 2. Check for any impossible values (scores > 100 or < 0)
# 3. Display summary of data quality

# Note: This dataset is clean, but let's verify!

# Your code here:

## 1. Check for null values in each column using .isnull().sum()

In [ ]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## 2. Check for any impossible values (scores > 100 or < 0)

In [ ]:
invalid_math = (math_scores < 0) | (math_scores > 100)
invalid_reading = (reading_scores < 0) | (reading_scores > 100)
invalid_writing = (writing_scores < 0) | (writing_scores > 100)

total_invalid = np.sum(invalid_math) + np.sum(invalid_reading) + np.sum(invalid_writing)
print(f"Total impossible scores: {total_invalid}")

Total impossible scores: 0

## 3. Display summary of data quality

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

# Task 2.2: Create and Fix Missing Value

In [ ]:
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
print("Original missing values:", df_practice.isnull().sum())

# Step 2: Create missing data
np.random.seed(42)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)
# Step 2: Introduce missing values
df_practice.loc[missing_math_idx, 'math score'] = np.nan
df_practice.loc[missing_writing_idx, 'writing score'] = np.nan

# Check missing values after introduction
print("Missing values after introducing NaNs:")
print(df_practice.isnull().sum())

# Continue the task...
# Your code here:



# Step 2: Introduce missing values
df_practice.loc[missing_math_idx, 'math score'] = np.nan
df_practice.loc[missing_writing_idx, 'writing score'] = np.nan

# Check missing values after introduction
print("Missing values after introducing NaNs:")
print(df_practice.isnull().sum())

# Step 3: Fill missing math scores with MEDIAN
median_math = df_practice['math score'].median()
df_practice['math score'].fillna(median_math, inplace=True)

# Step 4: Fill missing writing scores with MEAN
mean_writing = df_practice['writing score'].mean()
df_practice['writing score'].fillna(mean_writing, inplace=True)

# Step 5: Verify no missing values remain
print("Missing values after filling:")
print(df_practice.isnull().sum())

Original missing values: gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64
Missing values after introducing NaNs:
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64
Missing values after introducing NaNs:
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64
Missing values after filling:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

/tmp/ipython-input-2780819986.py:45: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_practice['math score'].fillna(median_math, inplace=True)
/tmp/ipython-input-2780819986.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_practice['writing score'].fillna(mean_writing, inplace=True)

#Task 3.1:Answer Simple Questions About Student Performance

In [ ]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()
# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:

In [ ]:
import pandas as pd

# Assuming your dataset is already loaded into a DataFrame named df
# Example: df = pd.read_csv("student_performance.csv")

# 1. Display first 5 rows
print("First 5 rows:")
print(df.head())

# 2. Display last 5 rows
print("\nLast 5 rows:")
print(df.tail())

# 3. Show dataset shape
print("\nDataset shape:")
print(df.shape)

# 4. Show column names
print("\nColumn names:")
print(df.columns)

# 5. Show data types
print("\nData types:")
print(df.dtypes)

# 6. Show basic info
print("\nBasic info:")
print(df.info())

First 5 rows:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

Last 5 rows:
     gender race/ethnicity parental level of education         lunch  \
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

Dataset shape:
(1000, 8)

Column names:
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

Data types:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

# Task 3.2: Basic Groupby Analysis

In [ ]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students

# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

# Your code here:

In [ ]:
# 1. Group by gender
gender_group = df.groupby('gender')[['math score', 'reading score', 'writing score']].mean()
gender_count = df['gender'].value_counts()
print("Average Scores by Gender:\n", gender_group)
print("Number of Students by Gender:\n", gender_count, "\n")

# 2. Group by test preparation course
prep_group = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()
print("Average Scores by Test Preparation Course:\n", prep_group, "\n")

# Find which subject benefits most from test prep
benefit = (prep_group.loc['completed'] - prep_group.loc['none']).idxmax()
print("Subject benefiting most from test prep:", benefit, "\n")

# 3. Group by parental level of education
parent_group = df.groupby('parental level of education')['math score'].mean().sort_values(ascending=False)
print("Math Score by Parental Education Level (Ranked):\n", parent_group, "\n")

# 4. Group by lunch type
lunch_group = df.groupby('lunch')[['math score', 'reading score', 'writing score']].mean()
lunch_count = df['lunch'].value_counts()
print("Average Scores by Lunch Type:\n", lunch_group)
print("Number of Students by Lunch Type:\n", lunch_count)

Average Scores by Gender:
         math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203
Number of Students by Gender:
 gender
female    518
male      482
Name: count, dtype: int64

Average Scores by Test Preparation Course:
                          math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

Subject benefiting most from test prep: writing score

Math Score by Parental Education Level (Ranked):
 parental level of education
master's degree       69.745763
bachelor's degree     69.389831
associate's degree    67.882883
some college          67.128319
some high school      63.497207
high school           62.137755
Name: math score, dtype: float64

Average Scores by Lunch Type:
               math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256
Number of Students by Lunch Type:
 lunch
standard        645
free/reduced    355
Name: count, dtype: int64

# Task 3.3: Use your data analysis skills to answer these easy questions

In [ ]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average

# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance

In [ ]:
# 1. Who performs better in math?
math_by_gender = df.groupby('gender')['math score'].mean()
print("Average Math Score by Gender:\n", math_by_gender)

diff = math_by_gender['female'] - math_by_gender['male']
print("Difference (Female - Male):", diff, "\n")

# 2. Which subject do students perform best in overall?
overall_avg = df[['math score', 'reading score', 'writing score']].mean().sort_values(ascending=False)
print("Overall Average Scores by Subject:\n", overall_avg, "\n")

# 3. Impact of parental education
df['total_score'] = df['math score'] + df['reading score'] + df['writing score']
parent_avg = df.groupby('parental level of education')['total_score'].mean().sort_values(ascending=False)
print("Average Total Score by Parental Education Level:\n", parent_avg)

best_education = parent_avg.idxmax()
print("Parental education level with highest student performance:", best_education)

Average Math Score by Gender:
 gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
Difference (Female - Male): -5.095011134430216

Overall Average Scores by Subject:
 reading score    69.169
writing score    68.054
math score       66.089
dtype: float64

Average Total Score by Parental Education Level:
 parental level of education
master's degree       220.796610
bachelor's degree     215.771186
associate's degree    208.707207
some college          205.429204
some high school      195.324022
high school           189.290816
Name: total_score, dtype: float64
Parental education level with highest student performance: master's degree